.text {
    padding: 0 30%;
    margin-bottom: 20px;
}

.titleDivImg {
    margin-bottom: 30px;
}

.titleImg {
    display: block;
    max-width: 600px; /* Define um tamanho máximo */
    width: 100%; /* A largura é 100% do container */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}

.divImgAbout {
    margin: 30px 0;
    width: 100%;
}

.imgAbout {
    display: block;
    max-width: 600px; /* Define um tamanho máximo */
    width: 100%; /* A largura é 100% do container */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}

@media (max-width: 768px) {
    .text {
        padding: 0 10%;
        margin-bottom: 20px;
    }
}
