.videoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Espaçamento entre os vídeos */
    padding: 20px;
    align-items: center;
  }
  
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Limita a largura máxima do vídeo */
    margin-bottom: 60px;
  }

  .btnLink {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid #000;
    background: transparent;
    padding: 0;
    height: 34px;
    line-height: 33px !important;
    width: 120px;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .btnLink:hover {
    cursor: pointer;
    -webkit-transition: 0.2s ease color, 0.2s ease;
    transition: 0.2s ease color, 0.2s ease;
    outline: 0;
    background-color: #000;
    color: #fff;
  }

@media screen and (max-width: 500px) {
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 800px; /* Limita a largura máxima do vídeo */
        margin-bottom: 60px;
        position: relative;
        padding-bottom: 56.25%; /* Altura proporcional (16:9 aspect ratio) */
        height: 0; /* Altura inicial é zero */
    }
    
    .btnLink {
        margin-top: 60%;
        position: absolute;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* O iframe ocupa 100% da largura disponível */
        height: 100%; /* A altura do iframe é calculada pela proporção definida */
      }
}

@media screen and (max-width: 428px) {
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 800px; /* Limita a largura máxima do vídeo */
        margin-bottom: 60px;
        position: relative;
        padding-bottom: 56.25%; /* Altura proporcional (16:9 aspect ratio) */
        height: 0; /* Altura inicial é zero */
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* O iframe ocupa 100% da largura disponível */
        height: 100%; /* A altura do iframe é calculada pela proporção definida */
      }
}